/Assig_1/.idea/.gitignore
/Assig_1/.idea/Assig_1.iml
/Assig_1/.idea/inspectionProfiles/profiles_settings.xml
/Assig_1/.idea/misc.xml
/Assig_1/.idea/modules.xml
/Assig_1/.idea/vcs.xml
/Assig_1/__pycache__/ex1_student_solution.cpython-39.pyc
